html {
  font-family: verdana
}
body {
  background-color: black;
  text-align: center;
}
h1 {
  font-size: 50px;
  font-weight: normal;
  color: white;
}
.cta {
  color: aquamarine;
  font-size: 16px
}
